//@import '~app/global.scss';
.loading {
  opacity: 0.25
}
.promotext {
  color: #444444;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid #8a8a8a;
}

.cell-item {
	font-weight: 600;
}

.table_h {
	border-bottom: 2px solid #dedede;
	display: flex;
	flex-flow: row;
	.cell_item {
		padding: 6px 8px 8px 0;
	}
	.checkbox {
		width: 44px;
	}
	.title {
		width: 30%;
	}
	.publisher {
		width: 20%;
	}
	.info {
		width: 10%;
	}
}

.table {
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
}


