.combo-wrapper {

}

.combo-container {
    position: relative;
}

.combo-triger {
    color: #444;
}

.combo {
    position: absolute;
    top: 40px;
    right: 0;
    padding: 10px 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0;
    width: 150px;
    z-index: 1000;
    li {
        a {
            display: block;
            color: #444;
            padding: 8px 20px;
            &:hover {
                color: red;
                background-color: #f9f9f9;
            }

            

        }
    }
}

.combo-icon {
    padding-right:6px;
}
.combo-item {
    
}
